<h1><i>Problem 1 ==></i> <font color="green">( X = <?php echo $this->result1; ?> )</font></h1>
<h1><i>Problem 2 ==></i> <font color="green">( Y = <?php echo $this->result2; ?> )</font></h1>
<h1><i>Problem 3 ==></i> <font color="green">( X = <?php echo $this->result3; ?> )</font></h1>